<%= render "shared/navbar" %>

<div class="container">

  <div class="content">

    <article class="card signin-dash">

      <section class="card card-full oauth-cards">
       <header>Sign up.</header>

        <section class="errors">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <% end %>
      </section>

      <%= render "users/shared/links" %>
      <p>
        Select a social identity above to log in.
       </p>
    </section>
  </article>
</div>
</div>
