<%= render "shared/navbar" %>

<div class="container">
 <div class="content">

  <section class="row info">
    <div class="col-md-12">
      <h1>Discover the connections you never knew you had.</h1>
      <h3>Make your network work for you.</h3>
    </div>
  </section>

  <section class="row spaced preview">
    <div class="col-md-12">
      <div class="image-container">
        <%= image_tag "GraphWide.png" %>
      </div>
    </div>
  </section>

  <section class="row spaced featues">
    <div class="col-md-4">
      <h3>Feature 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget enim nec sapien ullamcorper elementum. Sed vel porttitor sem. Vestibulum ultricies consequat sem a dictum.</p>
    </div>
    <div class="col-md-4">
      <h3>Feature 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget enim nec sapien ullamcorper elementum. Sed vel porttitor sem. Vestibulum ultricies consequat sem a dictum.</p>
    </div>
    <div class="col-md-4">
      <h3>Feature 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget enim nec sapien ullamcorper elementum. Sed vel porttitor sem. Vestibulum ultricies consequat sem a dictum.</p>
    </div>
  </section>

  <section class="row spaced enter">
    <div class="col-md-6 col-md-offset-3">
     <button href="/signin" class="btn btn-large btn-start">Get Started!</button>
   </div>
 </section>

</div>
</div>
<!-- <%= render "shared/footer" %> -->

