<%= render "shared/navbar" %>

<div class="container">
 <div class="content">

  <section class="row info">
    <div class="col-md-12">
      <h1>Get your dream internship</h1>
      <h3>Take advantage of your innate social network</h3>
    </div>
  </section>

  <section class="row preview">
    <div class="col-md-12">
      <div class="image-container">
        <%= image_tag "screen.png" %>
      </div>
    </div>
  </section>

  <section class="row featues">
    <div class="col-md-4">
      Feature 1
    </div>
    <div class="col-md-4">
      Feature 2
    </div>
    <div class="col-md-4">
      Feature 3
    </div>
  </section>

  <section class="row enter">
    <div class="col-md-6 col-md-offset-3">
     <button href="/signin" class="btn btn-danger btn-large btn-block btn-start">Get Started!</button>
   </div>
 </section>

</div>
</div>
<!-- <%= render "shared/footer" %> -->
