<%= render "shared/navbar" %>

<div class="container">
 <div class="content">

  <section class="row info">
    <div class="col-md-12">
      <h1>Discover the connections you never knew you had.</h1>
      <h3>Make your network work for you.</h3>
    </div>
  </section>

  <section class="row spaced preview">
    <div class="col-md-12">
      <div class="image-container">
        <%= image_tag "GraphWide.png" %>
      </div>
    </div>
  </section>

  <section class="row spaced featues">
    <div class="col-md-4">
      <h3>Tap Into Your Unknown Network</h3>
      <p>Our unique referral discovery engine delivers unrealized professional connections.</p>
    </div>
    <div class="col-md-4">
      <h3>The Power of Referrals</h3>
      <p>According to research cited in the New York Times, while only 7% of applicants come from referrals, this small number accounts for more than 40% of new hires.</p>
    </div>
    <div class="col-md-4">
      <h3>Land your Dream Job</h3>
      <p>Younify’s tools help you get your foot in the door at your target companies.</p>
    </div>
  </section>

  <section class="row spaced enter">
    <div class="col-md-8 col-md-offset-2">
    <!--
     <%= button_to "Get Started!", new_user_session_path, :id => "open-contacts-dialog-btn",
     :class => "btn btn-large btn-start", :method => :get %>
   -->

     <!-- Begin MailChimp Signup Form
     <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
     <style type="text/css">
     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="http://illinois.us7.list-manage.com/subscribe/post?u=31b8b4e632cd3cad2cf8a2812&amp;id=6243d3a865" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

      <div style="position: absolute; left: -5000px;"><input type="text" name="b_31b8b4e632cd3cad2cf8a2812_6243d3a865" value=""></div>
      <div class="clear"><input type="submit" value="Find out More!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
  </div>
-->


<form class="form-horizontal" role="form"  action="http://illinois.us7.list-manage.com/subscribe/post?u=31b8b4e632cd3cad2cf8a2812&amp;id=6243d3a865" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  <header>Get Notified When we go Live!</header>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-large btn-start">Submit</button>
    </div>
  </div>
</form>

<!--End mc_embed_signup-->
</div>
</section>

</div>
</div>
<!-- <%= render "shared/footer" %> -->

