<article class="user-dash">
  <section class="row search-bar card">
    <div class="tag-container">
      <input type="text" id="tokenfield" name="tags" placeholder="" class="tm-input"/>
    </div>
  </section>

  <section class="row card search-results">
    <div class="connections-wrapper col-md-12">

      <div class="connection  row connection">
        <div class="col-md-2 col-md-offset-1">
          <%= image_tag "person.jpg", :class => "profile-image profile-image-small" %>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h4 class="name">Jenny Murphy</h4>
          <p class="title"><b>Software Engineer</b> - Google</p>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <i class="fa fa-envelope-o fa-2x"></i>
        </div>
      </div>

      <div class="connection  row connection">
        <div class="col-md-2 col-md-offset-1">
          <%= image_tag "person.jpg", :class => "profile-image profile-image-small" %>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h4 class="name">Jenny Murphy</h4>
          <p class="title"><b>Software Engineer</b> - Google</p>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <i class="fa fa-envelope-o fa-2x"></i>
        </div>
      </div>

      <div class="connection  row connection">
        <div class="col-md-2 col-md-offset-1">
          <%= image_tag "person.jpg", :class => "profile-image profile-image-small" %>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h4 class="name">Jenny Murphy</h4>
          <p class="title"><b>Software Engineer</b> - Google</p>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <i class="fa fa-envelope-o fa-2x"></i>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Send an email to Jenny Murphy</h4>
          </div>
          <div class="modal-body">


            <textarea class="form-control" rows="10">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit malesuada erat, in bibendum massa. In elementum, orci vitae pulvinar sagittis, purus nisi auctor enim, vel pulvinar metus leo at dolor. Duis augue odio, egestas quis elit at, dapibus blandit quam. Aliquam ut enim quis mi lobortis sodales a quis leo. Cras luctus eget leo id adipiscing. Nunc tellus mauris, dignissim vel nulla quis, faucibus eleifend quam. Vestibulum sagittis, tortor non egestas commodo, neque urna auctor ipsum, eu cursus nulla neque eget diam. Proin varius tellus tortor, id hendrerit enim eleifend eget. Mauris quis libero ultricies, interdum risus dapibus, congue tortor. Quisque sem elit, rhoncus in auctor vitae, pellentesque nec dui.

              Praesent sit amet congue arcu, id molestie dolor. Proin diam nisl, tempor ac lectus a, blandit cursus elit. Sed tortor lorem, mollis porttitor adipiscing eu, porttitor in lectus. Donec ultricies euismod eros, at lacinia lectus. Nulla sit amet elit mi. Aliquam volutpat, nisi non mollis interdum, elit lorem tristique lacus, quis tincidunt justo lacus vitae dui. Sed imperdiet pretium adipiscing. Curabitur molestie consectetur ultrices.

              Aenean interdum cursus enim aliquam semper. Morbi hendrerit metus sapien, id faucibus tellus bibendum nec. Integer consectetur pellentesque congue. Nunc vel turpis pretium, laoreet massa vitae, tincidunt dui. Nulla facilisi. Proin at nisi dui. Nam facilisis pharetra orci vel elementum. Integer eleifend faucibus tincidunt.




            </textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send mail</button>
          </div>
        </div>
      </div>
    </div>

  </section>

</article>