
<article class="profile-dash">

  <section class="row user-image card">
   <%= image_tag "brendan.jpg", :class => "profile-image profile-image-large" %>
   <h1>Brendan Ryan</h1>
 </section>

 <article class="row card user-bio-wrapper">
  <div class="col-md-12">
    <section class="row card card-info user-bio">
      <header><h4>Bio:</h4></header>
      <p class="bio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis dolor mauris. Donec consequat, justo sed facilisis fermentum, leo elit sagittis nibh, id feugiat augue est ut mi. Mauris sed mauris ut elit auctor molestie. Maecenas quis suscipit sem. Etiam tempor accumsan quam, et euismod leo faucibus nec. Proin euismod, dui mollis scelerisque laoreet, enim erat interdum sem, nec pretium neque diam vitae felis. Phasellus pulvinar porta lorem, et tempor tortor fringilla et. Nam bibendum nisi mauris, ac blandit ligula convallis in. Suspendisse potenti. In hac habitasse platea dictumst. Quisque elit risus, suscipit vel accumsan non, dictum vel urna.</p>
    </section>




    <section class="row card card-info career-goals">
      <header><h4>Career Goals:</h4></header>
      <p class="goals-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis dolor mauris. Donec consequat, justo sed facilisis fermentum, leo elit sagittis nibh, id feugiat augue est ut mi. Mauris sed mauris ut elit auctor molestie. Maecenas quis suscipit sem. Etiam tempor accumsan quam, et euismod leo faucibus nec. Proin euismod, dui mollis scelerisque laoreet, enim erat interdum sem, nec pretium neque diam vitae felis. Phasellus pulvinar porta lorem, et tempor tortor fringilla et. Nam bibendum nisi mauris, ac blandit ligula convallis in. Suspendisse potenti. In hac habitasse platea dictumst. Quisque elit risus, suscipit vel accumsan non, dictum vel urna.</p>
    </section>

    <section class="row card card-info career-goals">
      <header><h4>Dream Companies:</h4></header>
      <div class="tag-container">
      <input type="text" id="tokenfield-profile" name="tags" placeholder="" class="tm-input"/>
    </div>

    </section>

    <section class="row card card-info education">
      <header><h4>Education:</h4></header>
      <p class="edu-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis dolor mauris. Donec consequat, justo sed facilisis fermentum, leo elit sagittis nibh, id feugiat augue est ut mi. Mauris sed mauris ut elit auctor molestie. Maecenas quis suscipit sem. Etiam tempor accumsan quam, et euismod leo faucibus nec. Proin euismod, dui mollis scelerisque laoreet, enim erat interdum sem, nec pretium neque diam vitae felis. Phasellus pulvinar porta lorem, et tempor tortor fringilla et. Nam bibendum nisi mauris, ac blandit ligula convallis in. Suspendisse potenti. In hac habitasse platea dictumst. Quisque elit risus, suscipit vel accumsan non, dictum vel urna.</p>
    </section>

    <section class="row card card-info activities"><header><h4>Activities/Leadership:</h4></header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis dolor mauris. Donec consequat, justo sed facilisis fermentum, leo elit sagittis nibh, id feugiat augue est ut mi. Mauris sed mauris ut elit auctor molestie. Maecenas quis suscipit sem. Etiam tempor accumsan quam, et euismod leo faucibus nec. Proin euismod, dui mollis scelerisque laoreet, enim erat interdum sem, nec pretium neque diam vitae felis. Phasellus pulvinar porta lorem, et tempor tortor fringilla et. Nam bibendum nisi mauris, ac blandit ligula convallis in. Suspendisse potenti. In hac habitasse platea dictumst. Quisque elit risus, suscipit vel accumsan non, dictum vel urna.</p>
    </section>


  </div>

</article>


</article>