
<article class="profile-dash">

  <section class="row user-image card">
   <%= image_tag "brendan.jpg", :class => "profile-image profile-image-large" %>
   <h1>Brendan Ryan</h1>
 </section>

 <article class="row card user-bio-wrapper">
  <div class="col-md-12">
    <section class="row card card-info user-bio">
      <header><h4>Bio:</h4></header>
      <p class="bio-text">Studying Computer Science at the University of Illinois - Urbana Champaign. My primary interest is in front-end web development but I frequently dabble in statistics, data mining, and computer science education.</p>
    </section>

    <section class="row card card-info career-goals">
      <header><h4>Career Goals:</h4></header>
      <p class="goals-text">I am looking to work for an early-stage tech startup in New York or Chicago</p>
    </section>

    <section class="row card card-info career-goals">
      <header><h4>Dream Companies:</h4></header>
      <div class="tag-container">
        <input type="text" id="tokenfield-profile" name="tags" placeholder="" class="tm-input"/>
      </div>

    </section>

    <section class="row card card-info education">
      <header><h4>Education:</h4></header>
      <ul class="education-list">
        <li><b>University of Illinois at Urbana-Champaign</b> - Bachelor's of Science, Computer Science</li>
        <li>
          <b>Shaker Heights High School</b>- Cleveland, Ohio
        </li>

      </ul>
    </section>

    <section class="row card card-info activities"><header><h4>Activities/Leadership:</h4></header>
      <p><b>Association For Computing Machinery - UIUC</b> - Secretary</p>
    </section>

  </div>

</article>


</article>