
<article class="profile-dash">

  <section class="row user-image card">
   <%= image_tag "#{@user.avatar.url}", :class => "profile-image profile-image-large" %>
   <h1><%= @user.name %></h1>
 </section>

 <article class="row card user-bio-wrapper">
  <div class="col-md-12">
    <section class="row card card-info user-bio">
      <header><h4>Bio:</h4></header>
      <p class="bio-text"><%= @user.biography %></p>
    </section>

    <section class="row card card-info career-goals">
      <header><h4>Career Goals:</h4></header>
      <p class="goals-text"></p>
    </section>

    <section class="row card card-info career-goals">
      <header><h4>Dream Companies:</h4></header>
      <div class="tag-container">
      <input type="text" id="tokenfield-profile" name="tags" placeholder="" class="tm-input"/>
    </div>

    </section>

    <section class="row card card-info education">
      <header><h4>Education:</h4></header>
      <p class="edu-text" style="font-size: 20px"><b>University of Illinois at Urbana-Champaign</b> - Bachelor's of Science, Computer Science</p>
      <p class="edu-text" style="font-size: 20px"><b>Shaker Heights High School</b>- Cleveland, Ohio</p>
    </section>

    <section class="row card card-info activities"><header><h4>Activities/Leadership:</h4></header>
      <p style="font-size: 20px"><b>Association For Computing Machinery - UIUC</b> - Secretary</p>
    </section>

  </div>

</article>


</article>