<h1>MatchBaseQuestion#new</h1>
<p>Find me in app/views/match_base_question/new.html.erb</p>
<%= form_for @question do |f| %>
  <%= f.text_field :question, placeholder: 'Type your question...' %>
  <%= f.submit :submit %>
<% end %>