
.navbar.navbar-default.navbar-white{
  background: rgba(0,0,0,0);
  text-align: center;
  border-bottom: none;
  padding: 20px;
  border-bottom: 1px solid #e7e7e7;
}

.navbar{

  img{



    &.logo-small{
      height: 50px;
      width: 75px;

    }
  }

  &.navbar-brand{
    padding: 0 15px !important;
  }

}

.navbar-brand{
  padding: 0 15px !important;
}
