<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/header' %>
</head>
<body id="page-top" data-spy="scroll">

  <%= yield %>


  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
</body>
</html>
