<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/header' %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <%= render "shared/navbar" %>
  <section class="container">
    <section class="content">

       <%= yield %>

    </section>
  </section>

  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
</body>
</html>
